@model IEnumerable<YeniProje.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Düzelt</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
